$nav-background: rgba(219, 241, 216, 0.569);
$font-stack: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;

html {
  box-sizing: border-box;
}

body {
  background-image: url('../public/image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
}

a {
  text-decoration: none;
  color: inherit;
}

iframe {
  border: none;
  border-radius: 15px;
}

.iframe-container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
}

header {
  background-color: $nav-background;
  padding: 0.3em;
  display: flex;
  justify-content: center;
  height: 2em;
  align-items: center;
  border-bottom: 1px solid rgb(186, 188, 185);

  nav {
    min-width: 400px;
    max-width: 650px;
    width: 38em;
    display: flex;
    align-items: center;
  }

  h3 {
    margin: 0;
    margin-right: auto;
    a {
      display: flex;
      align-items: center;
      img {
        width: 1.8em;
        height: 1.8em;
        padding-left: 0.5em;
      }
    }
  }


  div {
    margin-left: auto;
  }

  a {
    &:nth-child(2) {
      padding-left: 1em;
    }
  }

  a:hover {
    color: #676666;
  }
}

.home {
  .note {
    margin-top: 1em;
    height: 17em;
  }

  .calendar {
    height: 45em;
    margin-bottom: 4em;
  }

  iframe {
    min-width: 400px;
    max-width: 650px;
    width: 38em;
  }
}

.spreadsheet {
  .iframe-container{
    height: 90em;
  }

  iframe {
    width: 30em;
  }
  
  .button-container {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    margin-bottom: .5em;;
  }
  
  .button {
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    background-color: #e1e1e1;
    padding: 0 0.2em;
  }
  
  .button:hover {
    background-color: #aca7a7;
  }
}

@media (max-width: 450px) {
  body {
    font-size: .9em;
  }
  .home {
    .note {
      margin-top: 1em;
      height: 30em;
    }
  
    .calendar {
      height: 65em;
    }
  }

  header {
    overflow: hidden;
    nav {
      width: 100vw;
      justify-content:center;
      h3 {
        margin-right: 0;
        a {
          img {
            padding-right: .5em;
          }
        }
      }
      div {
        margin-left: 0;
      }
      a {
        &:nth-child(2) {
          padding-left: .5em;
        }
      }
    }
  }
  .spreadsheet {
    .iframe-container{
      height: 100em;
    }
  }
}
